@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,300;1,600;1,700&display=swap');

body {
  font-family: "Martel", serif;
  background-color:  rgb(230, 230, 230);
  
}

body::-webkit-scrollbar{
  display: none;
}


.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #2c2c2c;
  text-align: center;
  margin-bottom: 30px;
}



.head h1{
  color: #fff;
  font-size: 24px;
  margin-left: 80px;
}

.search {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.search input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shopping-icon {
  display: flex;
  color: #fff;
  background: none;
  border: none;
  font-size: 22px;
}

.shopping-icon span {
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}


