img {
    max-width: 200px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping-icon {
    display: flex;
    color: #fff;
    background: none;
    border: none;
    font-size: 22px;
}





.sidebar{
    background-color: #8181A4;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 10px 10px 30px 10px;
    border-right: 3px solid #161616;
    
}

.sidebar-header{
    width: 100%;
    margin-bottom: 16px;
}

.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button  span {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    height: 48px;
    padding: 0 12px 0 12px;
    line-height: 1;
    transition: 0.4s ease-in-out;
    font-size: 18px;
    color: #000000;
    
    
}

.sidebar button:hover > span {
    background-color: #4e4d69;
    border-radius: 11px;
    
}



.sidebar > nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.logo{
    width: 50px;
    min-height: 40px;
    margin-left: 55px;
}

.dev{
    margin-top: 3rem;
    font-weight: 400;

}