.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to bottom, #333, #555);
  transition: all 0.5s ease;
  z-index: 999;
}

.logo {
  width: 90%;
  height: auto;
}

.sidebar.closed {
  left: -250px;
}

.toggle-btn {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: all 0.5s ease;
}

.toggle-btn.open {
  right: 0;
}

.toggle-btn span {
  font-size: 24px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px ;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.nav-item:hover {
  background: #444;
}

.nav-item span {
  margin-left: 10px;
}